/* Article Styling */

article {
  width: 81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #545149 solid 5px;
  margin-bottom: 3%;
}

article:hover {
  box-shadow: 10px 10px 5px silver;
}

article header {
  width: 94%;
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.profile img {
  width: 3em;
  padding-top: 5px;
}

.username {
  color: silver;
  font-weight: 600;
}

.tweet-contents {
  width: 94%;
  word-wrap: break-word;
}

article footer {
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-top: #545149 solid 5px;
}

footer p {
  font-size: 0.7em;
}

.fa-solid {
  padding: 0 5px;
  font-size: 0.6em;
  color: #4056A1;
}

.fa-solid:hover {
  color: goldenrod;
}