/* Header Styling */

 body > header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #00543c;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
 }

